<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <script src="{{ url_for('static', filename='js/color-modes.js') }}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Runner self-registration</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet">
    {% block extrastyles %}{% endblock %}
    <link rel="icon" href="{{ url_for('static', filename='images/server.svg') }}">
  </head>
  <body class="{% block bodyclasses %}{% endblock %}">
    <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
      <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
              id="bd-theme"
              type="button"
              aria-expanded="false"
              data-bs-toggle="dropdown"
              aria-label="Toggle theme (auto)">
        <div class="theme-icon-active" width="1em" height="1em"><i class="bi-sun-fill"></i></div>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
            <div class="me-2 opacity-50 theme-icon" width="1em" height="1em"><i class="bi-sun-fill"></i></div>
            Light
            <div class="ms-auto d-none" width="1em" height="1em"><i class="bi-check2"></i></div>
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
            <div class="me-2 opacity-50 theme-icon" width="1em" height="1em"><i class="bi-moon-stars-fill"></i></div>
            Dark
            <div class="ms-auto d-none" width="1em" height="1em"><i class="bi-check2"></i></div>
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
            <div class="me-2 opacity-50 theme-icon" width="1em" height="1em"><i class="bi-circle-half"></i></div>
            Auto
            <div class="ms-auto d-none" width="1em" height="1em"><i href="bi-check2"></i></div>
          </button>
        </li>
      </ul>
    </div>
    {% block layout %}{% endblock %}
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG" crossorigin="anonymous"></script>
    {% block extrascripts %}{% endblock %}
  </body>
</html>
