{% extends "base.html" %}
{% block extrastyles %}
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
{% endblock %}
{% block extrascripts %}
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
{% block layout %}
    <nav class="navbar navbar-expand-md fixed-top navbar border-bottom border-body">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('runners.all') }}">Runner Registration</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link btn btn-outline-primary" aria-current="page" href="{{ url_for('runners.register') }}">New Runner</a>
            </li>
          </ul>
          <div class="d-flex">
            <a class="btn btn-outline-secondary" href="{{ url_for('auth.logout') }}">Logout</a>
          </div>
        </div>
      </div>
    </nav>
    <main class="container">
      {% block content %}{% endblock %}
    </main>
{% endblock %}
