{% extends "base.html" %}
{% block extrastyles %}
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock %}
{% block bodyclasses %}d-flex align-items-center py-4 bg-body-tertiary{% endblock %}
{% block layout %}
<main class="form-signin w-100 m-auto">
  <form action="{{ url_for('auth.login') }}" method="post">
    <div class="mb-4 w-100 m-auto text-center">
      <img src="{{ url_for('static', filename='images/server.svg') }}" alt="" width="72" height="57">
      <span class="h5">Runner Registration</span>
    </div>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
      <label for="email">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      <label for="password">Password</label>
    </div>

    <div class="form-check text-start my-3">
      <input class="form-check-input" type="checkbox" value="remember-me" id="remember">
      <label class="form-check-label" for="remember">
        Remember me
      </label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-body-secondary">&copy; 2023 OpenLP Developers</p>
  </form>
</main>
{% endblock %}
