{% extends "layout.html" %}
{% block content %}
      <h1 class="h2">New Runner</h1>
      <form action="{{ url_for('runners.register') }}" method="post" class="mb-5">
        <div class="mb-3">
          <label for="name">Name <span class="text-danger" title="Required">*</span></label>
          <input type="text" class="form-control" id="name" name="name" placeholder="e.g. intel-mac" required>
        </div>
        <div class="mb-3">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" name="description" placeholder="e.g. A GitLab Runner on an Intel Mac for John's pipelines">
        </div>
        <div class="mb-3">
          <label for="token">Token <span class="text-danger" title="Required">*</span></label>
          <input type="text" class="form-control" id="token" name="token" placeholder="e.g. d8Gd4T6xV" required>
        </div>
        <div class="mb-3">
          <label for="runner-type">Type <span class="text-danger" title="Required">*</span></label>
          <select class="form-select" name="runner-type" id="runner-type" aria-label="Runner type" required>
            <option value="" selected>Select a runner type</option>
            {% for runner_type in runner_types %}
            <option value="{{ runner_type.id }}">
            {{ runner_type.name }} ({{ runner_type.tags | map(attribute='name') | join(', ') }})
            </option>
            {% endfor %}
          </select>
        </div>
        <div>
          <button type="submit" class="btn btn-success">Register</button>
          <a type="button" class="btn btn-danger" href="{{ url_for('runners.all') }}">Cancel</a>
        </div>
      </form>
      <div class="card">
        <h5 class="card-header">How to register your GitLab runner</h5>
        <div class="card-body">
          <ol>
            <li>Select the type of runner from the dropdown. Note the tags in brackets.</li>
            <li>
              Go to the CI/CD settings page of your fork of OpenLP.
              <ol type="a">
                <li>Go to your profile</li>
                <li>Click on "Personal projects"</li>
                <li>Click on "OpenLP"</li>
                <li>In the left hand panel, expand "Settings"</li>
                <li>Click on "CI/CD"</li>
              </ol>
            </li>
            <li>
              Register a new runner on the CI/CD page.
              <ol type="a">
                <li>Expand the "Runners" section</li>
                <li>Scroll down to the "Project runners" section</li>
                <li>Click on the "New project runner" button</li>
                <li>Select "macOS" for the Mac runners</li>
                <li>In the "Tags" section, type in the tags from the Type dropdown</li>
                <li>Scroll down and click the "Create runner" button</li>
              </ol>
            </li>
            <li>On the runner summary page, copy the token</li>
            <li>Return to this page, and paste the token in</li>
            <li>Give your runner a name</li>
            <li>Click the "Register" button</li>
            <li>Wait about 5 minutes for the registration process to kick off.</li>
          </ol>
        </div>
      </div>
{% endblock %}
