{% extends "layout.html" %}
{% block content %}
<h1 class="h2">Registered runners</h1>
      <div class="table-responsive small">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Type</th>
              <th scope="col">Status</th>
              <th scope="col">Tags</th>
            </tr>
          </thead>
          <tbody>
{% for runner in runners %}
            <tr>
              <td>{{ runner.id }}</td>
              <td>{{ runner.name }}</td>
              <td>{{ runner.description }}</td>
              <td>{{ runner.runner_type.name }}</td>
              <td>{{ runner.status.name }}</td>
              <td>
                {% for tag in runner.runner_type.tags %}
                <span class="badge text-bg-info">{{ tag.name }}</span>
                {% endfor %}
              </td>
            </tr>
{% endfor %}
          </tbody>
        </table>
      </div>
{% endblock %}
